*{
    margin: 0;
    padding: 0;
}
#word_div{
    margin: 5px 10px 5px 10px;
    padding: 10px;
    background-color: #dbf5df;
}
#word_div p{
    display: inline;
    font-size: 20px;
}
#word_div p:nth-child(1){
    font-size: 30px;
    margin-left: 20px;
}
#word_div p:nth-child(2){
    margin-left: 20px;
}
#items_div{
    margin: 5px 10px 5px 10px;
    padding: 10px;
    background-color: #f2e5f7;
    font-size: 15px;
}
.item_div{
    margin-top: 10px;
}
.item_div p{
    display: inline;
    margin-left: 10px;

}
.item_div p:nth-child(1){
    background-color: #6dcce8;
    color: white;
}
.item_div p:nth-child(4){
    display: block;
}
.sentences_div{
    background-color: #dbf9f3;
    padding: 10px;
    margin-left: 10px;
}
.sentence_div p{
    display: block;
    margin: 0;
}
.sentence_div p:nth-child(1){
    background-color: #00000000;!important;
    color: black;!important;
}